<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thang.mobile_dating_app_v20">

    <permission
        android:name="com.example.thang.mobile_dating_app_v20.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.example.ismail.location_test.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-library android:name="com.google.android.maps" />

    <application
        android:name=".Classes.ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

        <!-- KhuongMH -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrMkSinF3VVL3z_E5if1G_jU8cdLDBsKU" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider935300426536787"
            android:exported="true" />
        <!-- End KhuongKH -->

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="@string/title_activity_profile"></activity>
        <activity
            android:name=".Activity.TestActivity"
            android:label="@string/title_activity_test"></activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_register"></activity>
        <activity
            android:name=".Activity.SearchActivity"
            android:label="@string/title_activity_search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                />
        </activity>
    </application>

</manifest>
